.productsWrapper {
  width: 100%;
  .products {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.33%;
    row-gap: 20px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .productsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
  }
  .brandsFilters {
    margin-top: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
